@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico-Regular.ttf');
}


header {
  width: 100vw;
  height: 60px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-wrapper {
    width: 100vw;
    padding: 0 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      color: var(--text-color);
      font-size: 1.5rem;
      font-family: 'Pacifico', serif;
    }
    .message-icon {
      svg {
        path:nth-child(1) {
          stroke: var(--text-color);
        }
        path:nth-child(2) {
          fill:var(--text-color);
        }
      }
    }
  }
}