.home-main {
  width: 100vw;
  height: 100%;
  .main-container {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    .limit-news-container {
      height: 100px;
      overflow-x: scroll;
      border-bottom: 1px solid var(--hr-color);

      display: grid;
      grid-auto-flow: column;
      grid-gap: 10px;
      align-items: center;
      &::-webkit-scrollbar {
        display: none;
      }
      .limit-item {
        width: 66px;
        height: 85px;
        flex-direction: column;
        .user-image {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background: linear-gradient(45deg, #fed522 0%, #f56f23 25%, #ea1d28 50%, #c52d64 75%, #a53a96 100%);
          position: relative;
          &::after {
            content: '';
            width: 60px;
            height: 60px;
            background: var(--bg-color);
            border-radius: 50%;
            border: 1px solid #c9c9c9;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
          }
          a {
            width: 60px;
            height: 60px;
            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              border: 2px solid var(--bg-color);
              pointer-events: none;
            }
          }
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 3px solid var(--bg-color);
          }
        }
        h1 {
          max-width: 70px;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          color: var(--text-color);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .post-container {
      max-height: calc(100vh - 208px);
      background-color: var(--bg-color);
      overflow-y: scroll;
      padding-bottom: 48px;
      &::-webkit-scrollbar {
        display: none;
      }
      .post {
        width: 100vw;
        .title {
          height: 48px;
          padding: 0 16px;
          border-bottom: 1px solid var(--hr-color);

          display: flex;
          align-items: center;
          .user-img {
            width: 42px;
            height: 42px;
            margin-right: 4px;
            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
            }
          }
          .describe {
            flex: 1;
            .user-name {
              font-weight: 600;
              color: var(--text-color);
            }
          }
          .icon {
            width: 42px;
            height: 42px;
            svg {
              margin-left: 8px;
              fill: var(--text-color);
            }
          }
        }
        .content-image {
          position: relative;
          .dots {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            .dot {
              width: 6px;
              height: 6px;
              background-color: #ffffff80;
              border-radius: 50%;
              margin: 0 2px;
              &.active {
                background-color: #007bff;
              }
            }
          }
          .images {
            display: flex;
            width: 100vw;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            &::-webkit-scrollbar {
              display: none;
            }
            img {
              width: 100vw;
              scroll-snap-align: start;
            }
          }
        }
        .footer {
          padding: 0 16px;
          .tools {
            position: relative;
            justify-content: space-between;
            .tool {
              * {
                width: 40px;
                height: 40px;
                svg {
                  width: 24px;
                  height: 24px;
                  color: var(--text-color);
                  fill: var(--text-color);
                  pointer-events: none;
                }
              }
              .love {
                & svg:nth-child(2) {
                  display: none;
                }
                &.active svg:first-child{
                  display: none;
                }
                &.active svg:last-child{
                  display: block;
                }
              }
            }
            .save {
              width: 40px;
              height: 40px;
              svg {
                width: 24px;
                height: 24px;
                color: var(--text-color);
              }
            }
          }
          .like-bar {
            height: 18px;
            font-size: 15px;
            font-weight: 600;
            line-height: 18px;
            color: var(--text-color);
          }
          .content {
            font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
            line-height: 1.5;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            p {
              font-size: 15px;
              line-height: 18px;
              white-space: pre-line;
              color: var(--text-color);
            }
            span.user-id {
              font-weight: 600;
            }
            a {
              text-decoration: none;
              color: var(--hashtag);
            }
            .hashtag {
              color: var(--hashtag);
              
            }
          }
          .more-btn {
            display: inline-block;
            border: none;
            background-color: transparent;
            color: var(--detial)
          }
          .date {
            font-size: 12px;
            color: var(--detial);
          }
        }
      }
    }
  }
}