.home-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // transform: scale(0, 1);
  overflow-y: hidden;
  .main-container {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 32px;
    &::-webkit-scrollbar {
      display: none;
    }
    .limit-news-container {
      height: 100px;
      border-bottom: 1px solid var(--hr-color);
      position: relative;
      .limit-news-box {
        height: 100px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        

        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        align-items: center;
        &::-webkit-scrollbar {
          display: none;
        }
        .limit-item {
          width: 66px;
          height: 85px;
          flex-direction: column;
          .user-image {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: linear-gradient(45deg, #fed522 0%, #f56f23 25%, #ea1d28 50%, #c52d64 75%, #a53a96 100%);
            position: relative;
            &::after {
              content: '';
              width: 60px;
              height: 60px;
              background: var(--bg-color);
              border-radius: 50%;
              border: 1px solid #c9c9c9;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: -1;
            }
            a {
              width: 60px;
              height: 60px;
              img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid var(--bg-color);
                pointer-events: none;
              }
            }
            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              border: 3px solid var(--bg-color);
            }
          }
          h1 {
            max-width: 70px;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            color: var(--text-color);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
      .left-arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40%;
        left: 10px;
        z-index: 3;
        transform: translateY(-40%);
        display: none;
        cursor: pointer;
        .left-arrow-box {
          background-color: #ffffff90;
          border-radius: 50%;
          pointer-events: none;
        }
      }
      .right-arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40%;
        right: 10px;
        z-index: 3;
        transform: translateY(-40%);
        display: none;
        cursor: pointer;
        .right-arrow-box {
          background-color: #ffffff90;
          border-radius: 50%;
          pointer-events: none;
        }
      }
    }
    .post-container {
      max-width: 100%;
      background-color: var(--bg-color);
      &::-webkit-scrollbar {
        display: none;
      }
      .post {
        width: 100%;
        .title {
          height: 48px;
          padding: 0 16px;
          border-bottom: 1px solid var(--hr-color);

          display: flex;
          align-items: center;
          .user-img {
            width: 42px;
            height: 42px;
            margin-right: 4px;
            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
            }
          }
          .describe {
            flex: 1;
            .user-name {
              font-weight: 600;
              color: var(--text-color);
            }
          }
          .icon {
            width: 42px;
            height: 42px;
            svg {
              margin-left: 8px;
              fill: var(--text-color);
            }
          }
        }
        .content-image {
          position: relative;
          .left-arrow {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            left: 10px;
            z-index: 3;
            transform: translateY(-50%);
            display: none;
            cursor: pointer;
            .left-arrow-box {
              background-color: #ffffff90;
              border-radius: 50%;
              pointer-events: none;
            }
          }
          .right-arrow {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 3;
            transform: translateY(-50%);
            display: none;
            cursor: pointer;
            .right-arrow-box {
              background-color: #ffffff90;
              border-radius: 50%;
              pointer-events: none;
            }
          }
          .dots {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            .dot {
              width: 6px;
              height: 6px;
              background-color: #ffffff80;
              border-radius: 50%;
              margin: 0 2px;
              &.active {
                background-color: #007bff;
              }
            }
          }
          .post-images {
            display: flex;
            width: 100%;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            &::-webkit-scrollbar {
              display: none;
            }
            img {
              width: 100%;
              scroll-snap-align: start;
              pointer-events: none;
            }
          }
        }
        .footer {
          padding: 0 16px;
          .tools {
            position: relative;
            justify-content: space-between;
            .tool {
              * {
                width: 40px;
                height: 40px;
                svg {
                  width: 24px;
                  height: 24px;
                  color: var(--text-color);
                  fill: var(--text-color);
                  pointer-events: none;
                }
              }
              .love {
                cursor: pointer;
                & svg:nth-child(2) {
                  display: none;
                }
                &.active svg:first-child{
                  display: none;
                }
                &.active svg:last-child{
                  display: block;
                }
              }
            }
            .save {
              width: 40px;
              height: 40px;
              cursor: pointer;
              &.active {
                svg polygon{
                  fill: var(--text-color);
                }
              }
              svg {
                width: 24px;
                height: 24px;
                color: var(--text-color);
                pointer-events: none;
              }
            }
          }
          .like-bar {
            height: 18px;
            font-size: 15px;
            font-weight: 600;
            line-height: 18px;
            color: var(--text-color);
          }
          .content {
            font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
            line-height: 1.5;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            p {
              width: 100%;
              font-size: 15px;
              line-height: 18px;
              white-space: pre-line;
              color: var(--text-color);
            }
            span.user-id {
              font-weight: 600;
            }
            a {
              text-decoration: none;
              color: var(--hashtag);
            }
            .hashtag {
              color: var(--hashtag);
              
            }
          }
          .more-btn {
            display: inline-block;
            border: none;
            background-color: transparent;
            color: var(--detial);
            cursor: pointer;
          }
          .date {
            font-size: 12px;
            color: var(--detial);
          }
        }
      }
    }
  }
  .article {
    width: 280px;
  }
}

@media screen and (min-width: 470px) {
  .home-main {
    .main-container {
      .post-container {
        max-width: 470px;
        margin: 0 auto;
        .post {
          .title {
            padding: 0;
          }
          .footer {
            padding: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 630px) {
  .home-main {
    .main-container {
      .limit-news-container {
        max-width: 610px;
        margin: 0 auto;
        border-bottom: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home-main {
    .main-container {
      max-height: 100vh;
      header {
        display: none;
      }
      .limit-news-container {
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .home-main {
    .main-container {
      .limit-news-container {
        .left-arrow,
        .right-arrow {
          display: flex;
        }
      }
      .post-container {
        .post {
          .content-image {
            .left-arrow,
            .right-arrow {
              display: flex;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1160px) {
  .home-main {
    width: calc(100vw - 73px);
    display: flex;
    justify-content: center;
    align-items: center;
    .article {
      height: 100vh;
      padding-top: 3rem;
      margin-left: 3rem;
    }
  }
}

@media screen and (min-width: 1264px) {
  .home-main {
    width: calc(100vw - 244px);
  }
}

@media screen and (min-width: 1600px) {
  .home-main {
    .article {
      margin-left: 4rem;
      padding-top: 4rem;
    }
  }
}