.message-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Poppins', sans-serif;
  transform: scale(0, 1);
  header {
    .title {
      font-weight: 600;
      font-size: 20px;
      color: var(--text-color);
    }
  }
  .message-content {
    width: 90%;
    margin: 0 auto;
    padding: 16px;
    z-index: -1;
    .message-content-title {
      width: 100%;
      text-align: center;
      font-size: 1.15rem;
      font-weight: 500;
      padding: 0 0 16px 0;
      color: var(--text-color);
    }
    form {
      display: grid;
      row-gap: 1.15rem;
    }
    .input-box {
      position: relative;
      width: 100%;
    }
    input {
      width: 100%;
      height: 52px;
      padding: 0 16px;
      background-color: transparent;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      outline: none;
      border: 2px solid #919191;
      color: var(--text-color);
      transition: border .4s background-color .4s;
      &::placeholder {
        color: #919191;
        transition: opacity 0.3s;
      }
      &:focus {
        border: 3px solid var(--input-foucs);
        &::placeholder {
          opacity: 0;
        }
      }
      &:-webkit-autofill {
        transition: background-color 6000s, color 6000s;
      }
    }
    label {
      position: absolute;
      top: 8px;
      left: 12px;
      color: #919191;
      font-size: 16px;
      font-weight: normal;
      font-family: 'Poppins', sans-serif;
      background-color: var(--bg-color);
      padding: 2px 6px;
      pointer-events: none;
      transition: top .5s, opacity 0.2s, background-color .4s;
      opacity: 0;
    }
    input:focus + label,
    input:not(:placeholder-shown) + label {
      opacity: 1;
      top: -16px;
    }
    .message-area {
      position: relative;
      textarea {
        width: 100%;
        height: 20vh;
        padding: 0 16px;
        background-color: transparent;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        border: 2px solid #919191;
        outline: none;
        resize: none;
        padding-top: 1rem;
        &::placeholder {
          color: #919191;
          transition: opacity 0.2s;
        }
        &:focus {
          border: 3px solid var(--input-foucs);
          &::placeholder {
            opacity: 0;
          }
        }
      }
      textarea:focus + label,
      textarea:not(:placeholder-shown) + label {
        opacity: 1;
        top: -16px;
      }
    }
    .form-btn {
      width: 80%;
      height: 56px;
      margin: 0 auto;
      font-size: 1.15rem;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      background-color: #B58658;
      color: var(--bg-color);
      border: none;
      cursor: pointer;
      
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 28px;
        height: 28px;
        margin-left: 4px;
        path {
          stroke: var(--bg-color);
        }
      }
    }
  }
  .envelope-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    .envelope {
      width: 300px;
      height: 200px;
      background-color: #222;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      &:hover .top {
        transform: rotateX(180deg);
      }
      img {
        width: 56px;
        height: 56px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
      .top {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        border-top: 130px solid #222;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        pointer-events: none;
        transform-origin: top;
        &::after {
          content: '';
          position: absolute;
          top: -130px;
          left: -140px;
          z-index: 5;
          border-top: 120px solid #B58658;
          border-left: 140px solid transparent;
          border-right: 140px solid transparent;
        }
        &::before {
          content: '';
          position: absolute;
          top: -130px;
          left: -130px;
          z-index: 6;
          border-top: 110px solid #222;
          border-left: 130px solid transparent;
          border-right: 130px solid transparent;
        }
      }
      .left {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
        border-left: 150px solid #333;
        pointer-events: none;
      }
      .right {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
        border-right: 150px solid #333;
        pointer-events: none;
      }
      .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        border-bottom: 100px solid #333;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        pointer-events: none;
      }
      .paper {
        width: 90%;
        height: 90%;
        // background-color: #e0e0e0;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        // overflow-y: hidden;
        .paper-content {
          width: 100%;
          height: 180px;
          background-color: #e0e0e0;
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          font-size: 1.25rem;
          font-family: 500;
          font-family: 'Pacifico', sans-serif;
          padding-top: 1rem;
        }
      }
    }
  }
}