nav {
  width: 100vw;
  height: 48px;
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  border-top: 1px solid var(--hr-color);
  .ig-icon {
    display: none;
  }
  ul {
    width: inherit;
    height: inherit;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      svg {
        color: var(--text-color);
        fill: var(--text-color);
        path {
          pointer-events: none;
        }
      }
      .home-icon.active path {
        stroke: url(#Gradient);
        fill: url(#Gradient);
      }
      .search-icon.active path, .search-icon.active line {
        stroke: url(#Gradient);
      }
      .message-icon.active {
        fill: url(#Gradient);
        path {
          stroke: url(#Gradient);
        }
      }
      .user-icon.active {
        fill: url(#Gradient);
      }
    }
  }
  .toggle-icon {
    display: none;
    * {
      pointer-events: none;
    }
    .sun-icon {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    width: 73px;
    padding: 0 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--hr-color);
    border-top: 0;
    .ig-icon {
      display: block;
      margin: 3rem 0;
      svg {
        fill: var(--text-color);
      }
    }
    ul {
      flex-direction: column;
      justify-content: start;
      li {
        margin: 1.5rem 0;
      }
    }
    .toggle-icon {
      display: block;
      margin-bottom: 1.5rem;
    }
  }
}