.search-main {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  transform: scale(0, 1);
  header {
    width: 100%;
    .search-bar {
      width: 100%;
      padding: 0 16px;
      .search-bar-box {
        .search-icon {
          width: 36px;
          height: 40px;
          border-radius: 16px 0 0 16px;
          border: none;
          background-color: var(--search-color);
        }
        input {
          flex: 1;
          height: 40px;
          border: none;
          border-radius: 0 16px 16px 0;
          background-color: var(--search-color);
          font-size: 18px;
          color: var(--text-color);
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .search-result-wrapper {
    position: relative;
    height: calc(100vh - 108px);
    .search-result {
      height: inherit;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .result-image {
        width: calc(100vw * 1 / 3);
        height: calc(100vw * 1 / 3);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .loading-modal {
      width: 100%;
      height: inherit;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      background-color: var(--bg-color);
      display: none;
      .squares {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .square {
          width: 8px;
          height: 8px;
          margin: 5vh 4px 0;
          &:nth-child(1) {
            background-color: #feda77;
          }
          &:nth-child(2) {
            background-color: #f58529;
          }
          &:nth-child(3) {
            background-color: #dd2a7b;
          }
          &:nth-child(4) {
            background-color: #8134af;
          }
          &:nth-child(5) {
            background-color: #515bd4;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .search-main {
    .search-result-wrapper {
      max-width: 480px;
      margin: 0 auto;
      .search-result {
        .result-image {
          width: calc(480px * 1 / 3);
          height: calc(480px * 1 / 3);
        }
      }
      .loading-modal {
        max-width: 488px;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 488px) {
  .search-main {
    .search-result-wrapper {
      max-width: 488px;
      .search-result {
        grid-gap: 4px;
      }
    }
  }
}

@media screen and (min-width: 630px) {
  .search-main {
    header {
      max-width: 630px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .search-main {
    .search-result-wrapper {
      height: calc(100vh - 60px);
      .search-result {
        height: calc(100vh - 60px);
        .result-image {
          width: calc(480px * 1 / 3);
          height: calc(480px * 1 / 3);
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .search-main {
    .search-result-wrapper {
      max-width: 504px;
      .search-result {
        grid-gap: 12px;
      }
      .loading-modal {
        max-width: inherit;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .search-main {
    .search-result-wrapper {
      max-width: 654px;
      .search-result {
        .result-image {
          width: calc(630px * 1 / 3);
          height: calc(630px * 1 / 3);
        }
      }
      .loading-modal {
        max-width: inherit;
      }
    }
  }
}

@media screen and (min-width: 1160px) {
  .search-main {
    overflow: hidden;
    header {
      max-width: 700px;
      height: 80px;
      .search-bar {
        height: 50px;
        .search-bar-box {
          .search-icon {
            width: 50px;
            height: 50px;
            svg {
              width: 24px;
              height: 24px;
            }
          }
          .search-input {
            height: 50px;
            font-size: 1.2rem;
          }
        }
      }
    }
    .search-result-wrapper {
      max-width: 876px;
      .search-result {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .loading-modal {
        max-width: inherit;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .search-main {
    .search-result-wrapper {
      max-width: 888px;
      .search-result {
        grid-gap: 16px;
      }
      .loading-modal {
        max-width: inherit;
      }
    }
  }
}

