.user-main {
  width: 100vw;
  height: 100%;
  header {
    .user-id {
      font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: var(--text-color);
    }
  }
  .title {
    width: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 77px;
      height: 77px;
      border-radius: 50%;
      margin-right: 28px;
    }
    .info {
      flex: 1;
      padding: 0 16px;
      color: var(--text-color);
      font-family: 'Segoe UI', Helvetica, Arial, sans-serif;

      display: flex;
      justify-content: space-around;
      align-items: center;
      * {
        text-align: center;
      }
    }
  }
}