.user-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // transform: scale(0, 1);
  .user-main-container {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', 'Segoe UI', Helvetica, Arial, sans-serif;
    position: absolute;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    header {
      .user-id {
        font-family: 'Poppins', 'Segoe UI', Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: var(--text-color);
      }
    }
    .user-main-title {
      width: 100%;
      padding: 0 16px;
      display: flex;
      justify-content: start;
      align-items: center;
      img {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        margin-right: 16px;
        border: 2px solid #c9c9c9;
        padding: 5px;
      }
      .info {
        width: 100%;
        height: 77px;
        display: flex;
        flex-direction: column;
        .info-icons {
          flex: 1;
          color: var(--text-color);
          font-size: 15px;
    
          display: flex;
          justify-content: center;
          align-items: center;
          div {
            width: 70px;
            text-align: center;
          }
          svg {
            width: 24px;
            height: 24px;
            path {
              fill: var(--text-color);
            }
          }
        }
        .info-intro {
          margin-top: -18px;
          margin-bottom: 12px;
          display: none;
          .info-intro-wrapper {
            width: 100%;
            color: var(--text-color);
            padding-left: 20px;
            .name {
              font-size: 1.2rem;
              font-weight: 600;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .education {
              display: flex;
              align-items: center;
              font-size: 16px;
              padding: 3px 0;
              svg {
                width: 16px;
                height: 16px;
                &:nth-child(1) {
                  margin-right: 4px;
                  path {
                    stroke: var(--text-color);
                  }
                }
                &:nth-child(2) {
                  margin-left: 6px;
                  margin-right: 2px;
                  fill: var(--text-color);
                }
              }
            }
            .work-experience {
              font-size: 16px;
              display: flex;
              align-items: center;
              svg {
                width: 16px;
                height: 16px;
                path {
                  stroke: var(--text-color);
                }
                &:nth-child(1) {
                  margin-right: 4px;
                }
                &:nth-child(2) {
                  margin-left: 6px;
                  path {
                    fill: var(--text-color);
                  }
                }
              }
            }
            .describe {
              margin-top: 19px;
              font-size: 14px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
    .intro {
      margin-bottom: 16px;
      .intro-wrapper {
        width: 100%;
        padding: 8px 16px;
        color: var(--text-color);
        .name {
          font-weight: 600;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .education {
          display: flex;
          align-items: center;
          font-size: 14px;
          svg {
            width: 16px;
            height: 16px;
            &:nth-child(1) {
              margin-right: 4px;
              path {
                stroke: var(--text-color);
              }
            }
            &:nth-child(2) {
              margin-left: 6px;
              margin-right: 2px;
              fill: var(--text-color);
            }
          }
        }
        .work-experience {
          font-size: 14px;
          display: flex;
          align-items: center;
          svg {
            width: 16px;
            height: 16px;
            path {
              stroke: var(--text-color);
            }
            &:nth-child(1) {
              margin-right: 4px;
            }
            &:nth-child(2) {
              margin-left: 6px;
              path {
                fill: var(--text-color);
              }
            }
          }
        }
        .describe {
          margin-top: 19px;
          font-size: 14px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }
        .describe-more-btn {
          display: inline-block;
          border: none;
          background-color: transparent;
          color: var(--detial);
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
    .skills {
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 21px;
  
      display: grid;
      grid-auto-flow: column;
      grid-gap: 10px;
      align-items: center;
      &::-webkit-scrollbar {
        display: none;
      }
      .skill {
        width: 75px;
        height: 85px;
        flex-direction: column;
        justify-content: space-between;
        .skill-image {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          border: 1px solid var(--hr-color);
          img {
            width: 36px;
            height: 36px;
          }
        }
        .skill-name {
          font-size: 14px;
          color: var(--text-color);
        }
      }
    }
    .menu-bar {
      height: 45px;
      .menu-bar-box {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1px;
        div {
          width: calc((100vw - 2px) * 1 / 3);
          height: 100%;
          flex: 1;
          flex-direction: column;
          cursor: pointer;
          * {
            pointer-events: none;
          }
          svg {
            max-height: 45px;
            opacity: 1;
            transition: all .5s ease-in-out;
          }
          h1 {
            font-size: 1rem;
            font-weight: 500;
            max-height: 0;
            opacity: 0;
            transition: all .5s ease-in-out;
          }
          &.active {
            border-bottom: 2px solid var(--text-color);
            svg {
              max-height: 0;
              opacity: 0;
            }
            h1 {
              max-height: 45px;
              opacity: 1;
              color: var(--text-color);
            }
          }
        }
      }
    }
    .post-banner {
      width: 100vw;
      margin-top: 2px;
      overflow-y: hidden;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      
      display: flex;
      flex-wrap: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
      .post-box {
        width: inherit;
        scroll-snap-align: start;
        .grid-post {
          width: inherit;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 1px;
          .post {
            width: calc((100vw - 2px) * 1 / 3);
            height: calc((100vw - 2px) * 1 / 3);
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              pointer-events: none;
            }
          }
        }
      }
      .resume-banner {
        div {
          width: inherit;
        }
      }
    }
    .experience-modal {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--bg-color);
      transform: scale(0, 0);
      opacity: 0;
      transition: transform .4s ease, opacity .4s ease;
      header {
        height: 60px;
        .back-icon {
          cursor: pointer;
          svg {
            width: 24px;
            height: 24px;
            fill: var(--text-color);
            pointer-events: none;
          }
        }
      }
      .post-container {
        max-height: calc(100vh - 108px);
        padding-bottom: 2rem;
        background-color: var(--bg-color);
        overflow-y: scroll;
        scroll-snap-align: start;
        &::-webkit-scrollbar {
          display: none;
        }
        .post {
          width: inherit;
          .title {
            height: 48px;
            padding: 0 16px;
            border-bottom: 1px solid var(--hr-color);
  
            display: flex;
            align-items: center;
            .user-img {
              width: 42px;
              height: 42px;
              margin-right: 4px;
              img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
              }
            }
            .describe {
              flex: 1;
              .user-name {
                font-weight: 600;
                color: var(--text-color);
              }
            }
            .icon {
              width: 42px;
              height: 42px;
              svg {
                margin-left: 8px;
                fill: var(--text-color);
              }
            }
          }
          .content-image {
            position: relative;
            .dots {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              .dot {
                width: 6px;
                height: 6px;
                background-color: #ffffff80;
                border-radius: 50%;
                margin: 0 2px;
                &.active {
                  background-color: #007bff;
                }
              }
            }
            .post-images {
              display: flex;
              width: 100vw;
              overflow-x: scroll;
              scroll-snap-type: x mandatory;
              &::-webkit-scrollbar {
                display: none;
              }
              img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                scroll-snap-align: start;
              }
            }
          }
          .footer {
            padding: 0 16px;
            .tools {
              position: relative;
              justify-content: space-between;
              .tool {
                * {
                  width: 40px;
                  height: 40px;
                  svg {
                    width: 24px;
                    height: 24px;
                    color: var(--text-color);
                    fill: var(--text-color);
                    pointer-events: none;
                  }
                }
                .love {
                  & svg:nth-child(2) {
                    display: none;
                  }
                  &.active svg:first-child{
                    display: none;
                  }
                  &.active svg:last-child{
                    display: block;
                  }
                }
              }
              .save {
                width: 40px;
                height: 40px;
                svg {
                  width: 24px;
                  height: 24px;
                  color: var(--text-color);
                }
              }
            }
            .like-bar {
              height: 18px;
              font-size: 15px;
              font-weight: 600;
              line-height: 18px;
              color: var(--text-color);
            }
            .content {
              font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
              line-height: 1.5;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              p {
                width: 100%;
                font-size: 15px;
                line-height: 18px;
                white-space: pre-line;
                color: var(--text-color);
              }
              span.user-id {
                font-weight: 600;
              }
              a {
                text-decoration: none;
                color: var(--hashtag);
              }
              .hashtag {
                color: var(--hashtag);
                
              }
            }
            .more-btn {
              display: inline-block;
              border: none;
              background-color: transparent;
              color: var(--detial)
            }
            .date {
              font-size: 12px;
              color: var(--detial);
            }
          }
        }
      }
    }
    .projects-modal {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--bg-color);
      transform: scale(0, 0);
      opacity: 0;
      transition: transform .4s ease, opacity .4s ease;
      header {
        height: 60px;
        .back-icon {
          cursor: pointer;
          svg {
            width: 24px;
            height: 24px;
            fill: var(--text-color);
            pointer-events: none;
          }
        }
      }
      .post-container {
        max-height: calc(100vh - 108px);
        background-color: var(--bg-color);
        overflow-y: scroll;
        scroll-snap-align: start;
        &::-webkit-scrollbar {
          display: none;
        }
        .post {
          width: inherit;
          .title {
            height: 48px;
            padding: 0 16px;
            border-bottom: 1px solid var(--hr-color);
  
            display: flex;
            align-items: center;
            .user-img {
              width: 42px;
              height: 42px;
              margin-right: 4px;
              img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
              }
            }
            .describe {
              flex: 1;
              .user-name {
                font-weight: 600;
                color: var(--text-color);
              }
            }
            .icon {
              width: 42px;
              height: 42px;
              svg {
                margin-left: 8px;
                fill: var(--text-color);
              }
            }
          }
          .content-image {
            position: relative;
            .dots {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              .dot {
                width: 6px;
                height: 6px;
                background-color: #ffffff80;
                border-radius: 50%;
                margin: 0 2px;
                &.active {
                  background-color: #007bff;
                }
              }
            }
            .post-images {
              display: flex;
              width: 100vw;
              overflow-x: scroll;
              scroll-snap-type: x mandatory;
              &::-webkit-scrollbar {
                display: none;
              }
              img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                scroll-snap-align: start;
              }
            }
          }
          .footer {
            padding: 0 16px;
            .tools {
              position: relative;
              justify-content: space-between;
              .tool {
                * {
                  width: 40px;
                  height: 40px;
                  svg {
                    width: 24px;
                    height: 24px;
                    color: var(--text-color);
                    fill: var(--text-color);
                    pointer-events: none;
                  }
                }
                .love {
                  cursor: pointer;
                  & svg:nth-child(2) {
                    display: none;
                  }
                  &.active svg:first-child{
                    display: none;
                  }
                  &.active svg:last-child{
                    display: block;
                  }
                }
              }
              .save {
                width: 40px;
                height: 40px;
                cursor: pointer;
                &.active polygon{
                  fill: var(--text-color);
                }
                svg {
                  pointer-events: none;
                  width: 24px;
                  height: 24px;
                  color: var(--text-color);
                }
              }
            }
            .like-bar {
              height: 18px;
              font-size: 15px;
              font-weight: 600;
              line-height: 18px;
              color: var(--text-color);
            }
            .content {
              font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
              line-height: 1.5;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              p {
                width: 100%;
                font-size: 15px;
                line-height: 18px;
                white-space: pre-line;
                color: var(--text-color);
              }
              span.user-id {
                font-weight: 600;
              }
              a {
                text-decoration: none;
                color: var(--hashtag);
              }
              .hashtag {
                color: var(--hashtag);
                
              }
            }
            .more-btn {
              display: inline-block;
              border: none;
              background-color: transparent;
              color: var(--detial)
            }
            .date {
              font-size: 12px;
              color: var(--detial);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 470px) {
  .user-main {
    .user-main-container {
      .user-main-title {
        justify-content: stretch;
        img {
          width: 110px;
          height: 110px;
          margin-left: 12px;
          margin-right: 28px;
        }
        .info {
          flex: none;
          width: 270px;
        }
      }
      .intro {
        .intro-wrapper {
          .name {
            font-size: 1.15rem;
            margin-bottom: 4px;
          }
          .education {
            font-size: 15px;
          }
          .work-experience {
            font-size: 15px;
          }
          .describe {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .user-main {
    .user-main-container {
      header {
        max-width: 600px;
        margin: 0 auto;
      }
      .user-main-title,
      .intro,
      .skills,
      .menu-bar {
        max-width: 500px;
        margin: 0 auto;
      }
      .skills {
        margin-top: 1rem;
        padding-bottom: 1.5rem;
      }
      .menu-bar {
        max-width: 500px;
        margin: 0 auto;
        .menu-bar-box {
          div {
            width: calc((500px - 2px) * 1 / 3);
          }
        }
      }
      .post-banner {
        max-width: 500px;
        margin: 1px auto;
        .post-box {
          max-width: 500px;
          .grid-post {
            max-width: 500px;
            margin: 0 auto;
            .post {
              width: calc((500px - 2px) * 1 / 3);
              height: calc((500px - 2px) * 1 / 3);
            }
          }
        }
      }
      .experience-modal {
        .post-container {
          max-width: 500px;
          margin: 0 auto;
          .post {
            .content-image {
              .post-images {
                max-width: 500px;
                img {
                  max-width: 500px;
                }
              }
            }
          }
        }
      }
      .projects-modal {
        .post-container {
          max-width: 500px;
          margin: 0 auto;
          .post {
            .content-image {
              .post-images {
                max-width: 500px;
                img {
                  max-width: 500px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .user-main {
    .user-main-container {
      .user-main-title {
        img {
          width: 140px;
          height: 140px;
          margin-top: 16px;
          margin-left: 48px;
          margin-right: 28px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .user-main {
    .user-main-container {
      header {
        .header-wrapper {
          .user-id {
            margin: 0 auto;
            font-size: 1.4rem;
          }
          .toggle-icon {
            display: none;
          }
        }
      }
      .experience-modal {
        padding-left: 73px;
        .post-container {
          max-height: calc(100vh - 60px);
        }
      }
      .projects-modal {
        padding-left: 73px;
        .post-container {
          max-height: calc(100vh - 60px);
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .user-main {
    .user-main-container {
      header {
        max-width: 635px;
        height: 70px;
        .header-wrapper {
          .user-id {
            font-size: 1.5rem;
          }
        }
      }
      .user-main-title,
      .intro,
      .skills,
      .menu-bar {
        max-width: 635px;
      }
      .menu-bar {
        .menu-bar-box {
          grid-gap: 4px;
          div {
            width: calc((635px - 8px) * (1 / 3));
          }
        }
      }
      .user-main-title {
        justify-content: stretch;
        img {
          width: 180px;
          height: 180px;
          margin-left: 12px;
          margin-right: 28px;
        }
        .info {
          flex: none;
          width: 270px;
        }
      }
      .post-banner {
        max-width: 635px;
        .post-box {
          max-width: 635px;
          .grid-post {
            max-width: 635px;
            margin: 0 auto;
            grid-gap: 4px;
            .post {
              width: calc((635px - 8px) * (1 / 3));
              height: calc((635px - 8px) * (1 / 3));
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1160px) {
  .user-main {
    .user-main-container {
      header {
        max-width: 935px;
        height: 80px;
        .header-wrapper {
          .user-id {
            font-size: 1.8rem;
          }
        }
      }
      .user-main-title,
      .intro,
      .skills,
      .menu-bar {
        max-width: 935px;
      }
      .user-main-title {
        justify-content: center;
        img {
          width: 180px;
          height: 180px;
          margin-left: 12px;
          margin-right: 28px;
        }
        .info {
          width: auto;
          height: 180px;
          .info-icons {
            justify-content: space-between;
          }
          .info-intro {
            display: block;
          }
        }
      }
      .intro {
        .intro-wrapper {
          max-width: 700px;
          margin: 0 auto;
          .name,
          .education,
          .work-experience {
            display: none;
          }
          .describe {
            display: block;
            font-size: 15px;
          }
          .describe-more-btn {
            display: none;
          }
        }
      }
      .skills {
        margin-top: 1rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid var(--hr-color);
      }
      .menu-bar {
        margin-top: 1rem;
        .menu-bar-box {
          grid-gap: 4px;
          div {
            width: calc((935px - 8px) * 1 / 3);
          }
        }
      }
      .post-banner {
        max-width: 935px;
        .post-box {
          max-width: 935px;
          .grid-post {
            max-width: 935px;
            .post {
              width: calc((935px - 8px) * 1 / 3);
              height: calc((935px - 8px) * 1 / 3);
            }
          }
        }
      }
      .experience-modal {
        header {
          .header-wrapper {
            max-width: 635px;
            margin: 0 auto;
          }
        }
      }
      .projects-modal {
        header {
          .header-wrapper {
            max-width: 635px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1264px) {
  .user-main {
    .user-main-container {
      .intro {
        .intro-wrapper {
          .describe {
            font-size: 16px;
          }
        }
      }
      .experience-modal {
        padding-left: 244px;
        header {
          .header-wrapper {
            max-width: 635px;
            margin: 0 auto;
          }
        }
      }
      .projects-modal {
        padding-left: 244px;
        header {
          .header-wrapper {
            max-width: 635px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}