@font-face {
  font-family: "Gold Lines";
  src: url("../fonts/Gold Lines Trial.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light-mode {
  --text-color: rgba(0, 0, 0);
  --bg-color: #fff;
  --hr-color: #dbdbdb;
  --detial: #737373;
  --hashtag: #00376B;
  --search-color: #efefef;
  --form-color: #ededed;
  --input-foucs: #4f4f4f;
}

body.dark-mode {
  --text-color: rgba(245, 245, 245);
  --bg-color: rgba(0, 0, 0);
  --hr-color: rgb(54, 54, 54);
  --detial: #a8a8a8;
  --hashtag: #e0f1ff;
  --search-color: #262626;
  --form-color: #3d3d3d;
  --input-foucs: #f5f6f7;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--bg-color);
}

.loading {
  width: 100vw;
  height: 100vh;
  font-size: 4.5rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  background-color: #fff;
  position: relative;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading .loading-text {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10vh;
  opacity: 0;
}
.loading .loading-text .char {
  font-family: "Gold Lines", serif;
  opacity: 0;
}
.loading .loading-icon .squares {
  width: 100%;
}
.loading .loading-icon .squares .square {
  width: 8px;
  height: 8px;
  margin: 5vh 4px 0;
  opacity: 0;
}
.loading .loading-icon .squares .square:nth-child(1) {
  background-color: #feda77;
}
.loading .loading-icon .squares .square:nth-child(2) {
  background-color: #f58529;
}
.loading .loading-icon .squares .square:nth-child(3) {
  background-color: #dd2a7b;
}
.loading .loading-icon .squares .square:nth-child(4) {
  background-color: #8134af;
}
.loading .loading-icon .squares .square:nth-child(5) {
  background-color: #515bd4;
}
.loading .instagram-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading .instagram-logo img {
  width: 80px;
  height: 80px;
}
.loading .loading-footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  position: absolute;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
}
.loading .loading-footer h3 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #888;
}
.loading .loading-footer div img {
  width: 24px;
  margin-right: 4px;
}
.loading .loading-footer div h1 {
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #fd1d1d 0%, #e1306c 60%, #c13584 90%, #833ab4 95%, #5851d8 97%, #405de6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.add-post-modal {
  width: 100vw;
  height: 100vh;
  background: center/cover url("../images/coding.jfif");
  position: fixed;
  z-index: 999;
  transform: scale(0, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.add-post-modal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.5019607843);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  pointer-events: none;
}
.add-post-modal div {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  color: #ccc;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

#all-main {
  width: 100vw;
  height: calc(100dvh - 48px);
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #all-main {
    width: calc(100vw - 73px);
    height: 100vh;
    margin-left: 73px;
  }
  .add-post-modal {
    width: calc(100vw - 73px);
    margin-left: 73px;
  }
  .add-post-modal div {
    font-size: 1.8rem;
  }
}
header {
  width: 100vw;
  height: 60px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper {
  width: 100vw;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .logo {
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: "Pacifico", serif;
}
header .header-wrapper .toggle-icon * {
  pointer-events: none;
}
header .header-wrapper .toggle-icon .sun-icon {
  display: none;
}

nav {
  width: 100vw;
  height: 48px;
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  border-top: 1px solid var(--hr-color);
}
nav .ig-icon {
  display: none;
}
nav ul {
  width: inherit;
  height: inherit;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li svg {
  color: var(--text-color);
  fill: var(--text-color);
}
nav ul li svg path {
  pointer-events: none;
}
nav ul li .home-icon.active path {
  stroke: url(#Gradient);
  fill: url(#Gradient);
}
nav ul li .search-icon.active path, nav ul li .search-icon.active line {
  stroke: url(#Gradient);
}
nav ul li .message-icon.active {
  fill: url(#Gradient);
}
nav ul li .message-icon.active path {
  stroke: url(#Gradient);
}
nav ul li .user-icon.active {
  fill: url(#Gradient);
}
nav .toggle-icon {
  display: none;
}
nav .toggle-icon * {
  pointer-events: none;
}
nav .toggle-icon .sun-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    width: 73px;
    padding: 0 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--hr-color);
    border-top: 0;
  }
  nav .ig-icon {
    display: block;
    margin: 3rem 0;
  }
  nav .ig-icon svg {
    fill: var(--text-color);
  }
  nav ul {
    flex-direction: column;
    justify-content: start;
  }
  nav ul li {
    margin: 1.5rem 0;
  }
  nav .toggle-icon {
    display: block;
    margin-bottom: 1.5rem;
  }
}
.home-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0, 1);
  overflow-y: hidden;
}
.home-main .main-container {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 32px;
}
.home-main .main-container::-webkit-scrollbar {
  display: none;
}
.home-main .main-container .limit-news-container {
  height: 100px;
  overflow-x: scroll;
  border-bottom: 1px solid var(--hr-color);
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}
.home-main .main-container .limit-news-container::-webkit-scrollbar {
  display: none;
}
.home-main .main-container .limit-news-container .limit-item {
  width: 66px;
  height: 85px;
  flex-direction: column;
}
.home-main .main-container .limit-news-container .limit-item .user-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(45deg, #fed522 0%, #f56f23 25%, #ea1d28 50%, #c52d64 75%, #a53a96 100%);
  position: relative;
}
.home-main .main-container .limit-news-container .limit-item .user-image::after {
  content: "";
  width: 60px;
  height: 60px;
  background: var(--bg-color);
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.home-main .main-container .limit-news-container .limit-item .user-image a {
  width: 60px;
  height: 60px;
}
.home-main .main-container .limit-news-container .limit-item .user-image a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  pointer-events: none;
}
.home-main .main-container .limit-news-container .limit-item .user-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--bg-color);
}
.home-main .main-container .limit-news-container .limit-item h1 {
  max-width: 70px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-main .main-container .post-container {
  max-width: 100%;
  background-color: var(--bg-color);
}
.home-main .main-container .post-container::-webkit-scrollbar {
  display: none;
}
.home-main .main-container .post-container .post {
  width: 100%;
}
.home-main .main-container .post-container .post .title {
  height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid var(--hr-color);
  display: flex;
  align-items: center;
}
.home-main .main-container .post-container .post .title .user-img {
  width: 42px;
  height: 42px;
  margin-right: 4px;
}
.home-main .main-container .post-container .post .title .user-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.home-main .main-container .post-container .post .title .describe {
  flex: 1;
}
.home-main .main-container .post-container .post .title .describe .user-name {
  font-weight: 600;
  color: var(--text-color);
}
.home-main .main-container .post-container .post .title .icon {
  width: 42px;
  height: 42px;
}
.home-main .main-container .post-container .post .title .icon svg {
  margin-left: 8px;
  fill: var(--text-color);
}
.home-main .main-container .post-container .post .content-image {
  position: relative;
}
.home-main .main-container .post-container .post .content-image .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.home-main .main-container .post-container .post .content-image .dots .dot {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 50%;
  margin: 0 2px;
}
.home-main .main-container .post-container .post .content-image .dots .dot.active {
  background-color: #007bff;
}
.home-main .main-container .post-container .post .content-image .post-images {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.home-main .main-container .post-container .post .content-image .post-images::-webkit-scrollbar {
  display: none;
}
.home-main .main-container .post-container .post .content-image .post-images img {
  width: 100%;
  scroll-snap-align: start;
}
.home-main .main-container .post-container .post .footer {
  padding: 0 16px;
}
.home-main .main-container .post-container .post .footer .tools {
  position: relative;
  justify-content: space-between;
}
.home-main .main-container .post-container .post .footer .tools .tool * {
  width: 40px;
  height: 40px;
}
.home-main .main-container .post-container .post .footer .tools .tool * svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
  fill: var(--text-color);
  pointer-events: none;
}
.home-main .main-container .post-container .post .footer .tools .tool .love svg:nth-child(2) {
  display: none;
}
.home-main .main-container .post-container .post .footer .tools .tool .love.active svg:first-child {
  display: none;
}
.home-main .main-container .post-container .post .footer .tools .tool .love.active svg:last-child {
  display: block;
}
.home-main .main-container .post-container .post .footer .tools .save {
  width: 40px;
  height: 40px;
}
.home-main .main-container .post-container .post .footer .tools .save svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
}
.home-main .main-container .post-container .post .footer .like-bar {
  height: 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: var(--text-color);
}
.home-main .main-container .post-container .post .footer .content {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.home-main .main-container .post-container .post .footer .content p {
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  white-space: pre-line;
  color: var(--text-color);
}
.home-main .main-container .post-container .post .footer .content span.user-id {
  font-weight: 600;
}
.home-main .main-container .post-container .post .footer .content a {
  text-decoration: none;
  color: var(--hashtag);
}
.home-main .main-container .post-container .post .footer .content .hashtag {
  color: var(--hashtag);
}
.home-main .main-container .post-container .post .footer .more-btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: var(--detial);
}
.home-main .main-container .post-container .post .footer .date {
  font-size: 12px;
  color: var(--detial);
}

@media screen and (min-width: 470px) {
  .home-main .main-container .post-container {
    max-width: 470px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 630px) {
  .home-main .main-container .limit-news-container {
    max-width: 610px;
    margin: 0 auto;
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) {
  .home-main .main-container {
    max-height: 100vh;
  }
  .home-main .main-container header {
    display: none;
  }
}
@media screen and (min-width: 1160px) {
  .home-main {
    width: calc(100vw - 73px);
    display: flex;
  }
  .home-main .main-container {
    flex: 1;
  }
  .home-main .article {
    width: 320px;
    height: 100vh;
    padding-top: 2rem;
  }
}
.user-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0, 1);
}
.user-main .user-main-container {
  width: 100%;
  height: 100%;
  font-family: "Poppins", "Segoe UI", Helvetica, Arial, sans-serif;
  position: absolute;
  overflow-y: scroll;
}
.user-main .user-main-container::-webkit-scrollbar {
  display: none;
}
.user-main .user-main-container header .user-id {
  font-family: "Poppins", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
}
.user-main .user-main-container .user-main-title {
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-main .user-main-container .user-main-title img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  margin-right: 28px;
}
.user-main .user-main-container .user-main-title .info {
  flex: 1;
  padding: 0 16px;
  color: var(--text-color);
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.user-main .user-main-container .user-main-title .info * {
  text-align: center;
}
.user-main .user-main-container .user-main-title .info svg {
  width: 24px;
  height: 24px;
}
.user-main .user-main-container .user-main-title .info svg path {
  fill: var(--text-color);
}
.user-main .user-main-container .intro {
  margin-bottom: 16px;
}
.user-main .user-main-container .intro .intro-wrapper {
  width: 100%;
  padding: 8px 16px;
  color: var(--text-color);
}
.user-main .user-main-container .intro .intro-wrapper .name {
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.user-main .user-main-container .intro .intro-wrapper .education {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.user-main .user-main-container .intro .intro-wrapper .education svg {
  width: 16px;
  height: 16px;
}
.user-main .user-main-container .intro .intro-wrapper .education svg:first-child {
  margin-right: 4px;
}
.user-main .user-main-container .intro .intro-wrapper .education svg:first-child path {
  stroke: var(--text-color);
}
.user-main .user-main-container .intro .intro-wrapper .education svg:last-child {
  margin-left: 2px;
  fill: var(--text-color);
}
.user-main .user-main-container .intro .intro-wrapper .work-experience {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.user-main .user-main-container .intro .intro-wrapper .work-experience svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.user-main .user-main-container .intro .intro-wrapper .work-experience svg path {
  stroke: var(--text-color);
}
.user-main .user-main-container .intro .intro-wrapper .describe {
  margin-top: 19px;
  font-size: 14px;
}
.user-main .user-main-container .skills {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 21px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}
.user-main .user-main-container .skills::-webkit-scrollbar {
  display: none;
}
.user-main .user-main-container .skills .skill {
  width: 75px;
  height: 85px;
  flex-direction: column;
  justify-content: space-between;
}
.user-main .user-main-container .skills .skill .skill-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid var(--hr-color);
}
.user-main .user-main-container .skills .skill .skill-image img {
  width: 36px;
  height: 36px;
}
.user-main .user-main-container .skills .skill .skill-name {
  font-size: 14px;
  color: var(--text-color);
}
.user-main .user-main-container .menu-bar {
  height: 45px;
}
.user-main .user-main-container .menu-bar .menu-bar-box {
  height: 100%;
}
.user-main .user-main-container .menu-bar .menu-bar-box div {
  height: 100%;
  flex: 1;
  flex-direction: column;
}
.user-main .user-main-container .menu-bar .menu-bar-box div * {
  pointer-events: none;
}
.user-main .user-main-container .menu-bar .menu-bar-box div svg {
  max-height: 45px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.user-main .user-main-container .menu-bar .menu-bar-box div h1 {
  font-size: 1rem;
  font-weight: 500;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.user-main .user-main-container .menu-bar .menu-bar-box div.active {
  border-bottom: 1px solid var(--text-color);
}
.user-main .user-main-container .menu-bar .menu-bar-box div.active svg {
  max-height: 0;
  opacity: 0;
}
.user-main .user-main-container .menu-bar .menu-bar-box div.active h1 {
  max-height: 45px;
  opacity: 1;
  color: var(--text-color);
}
.user-main .user-main-container .post-banner {
  width: 100vw;
  margin-top: 1px;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-wrap: nowrap;
}
.user-main .user-main-container .post-banner::-webkit-scrollbar {
  display: none;
}
.user-main .user-main-container .post-banner .post-box {
  width: inherit;
  scroll-snap-align: start;
}
.user-main .user-main-container .post-banner .post-box .grid-post {
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
}
.user-main .user-main-container .post-banner .post-box .grid-post .post {
  width: calc(33.3333333333vw - 1px);
  height: calc(33.3333333333vw - 1px);
}
.user-main .user-main-container .post-banner .post-box .grid-post .post img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
.user-main .user-main-container .post-banner .resume-banner div {
  width: inherit;
}
.user-main .user-main-container .experience-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  transform: scale(0, 0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.user-main .user-main-container .experience-modal header {
  height: 60px;
}
.user-main .user-main-container .experience-modal header .back-icon svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
  pointer-events: none;
}
.user-main .user-main-container .experience-modal .post-container {
  max-height: calc(100vh - 108px);
  background-color: var(--bg-color);
  overflow-y: scroll;
  scroll-snap-align: start;
}
.user-main .user-main-container .experience-modal .post-container::-webkit-scrollbar {
  display: none;
}
.user-main .user-main-container .experience-modal .post-container .post {
  width: inherit;
}
.user-main .user-main-container .experience-modal .post-container .post .title {
  height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid var(--hr-color);
  display: flex;
  align-items: center;
}
.user-main .user-main-container .experience-modal .post-container .post .title .user-img {
  width: 42px;
  height: 42px;
  margin-right: 4px;
}
.user-main .user-main-container .experience-modal .post-container .post .title .user-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.user-main .user-main-container .experience-modal .post-container .post .title .describe {
  flex: 1;
}
.user-main .user-main-container .experience-modal .post-container .post .title .describe .user-name {
  font-weight: 600;
  color: var(--text-color);
}
.user-main .user-main-container .experience-modal .post-container .post .title .icon {
  width: 42px;
  height: 42px;
}
.user-main .user-main-container .experience-modal .post-container .post .title .icon svg {
  margin-left: 8px;
  fill: var(--text-color);
}
.user-main .user-main-container .experience-modal .post-container .post .content-image {
  position: relative;
}
.user-main .user-main-container .experience-modal .post-container .post .content-image .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.user-main .user-main-container .experience-modal .post-container .post .content-image .dots .dot {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 50%;
  margin: 0 2px;
}
.user-main .user-main-container .experience-modal .post-container .post .content-image .dots .dot.active {
  background-color: #007bff;
}
.user-main .user-main-container .experience-modal .post-container .post .content-image .post-images {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.user-main .user-main-container .experience-modal .post-container .post .content-image .post-images::-webkit-scrollbar {
  display: none;
}
.user-main .user-main-container .experience-modal .post-container .post .content-image .post-images img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  scroll-snap-align: start;
}
.user-main .user-main-container .experience-modal .post-container .post .footer {
  padding: 0 16px;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .tools {
  position: relative;
  justify-content: space-between;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .tools .tool * {
  width: 40px;
  height: 40px;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .tools .tool * svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
  fill: var(--text-color);
  pointer-events: none;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .tools .tool .love svg:nth-child(2) {
  display: none;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .tools .tool .love.active svg:first-child {
  display: none;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .tools .tool .love.active svg:last-child {
  display: block;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .tools .save {
  width: 40px;
  height: 40px;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .tools .save svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
}
.user-main .user-main-container .experience-modal .post-container .post .footer .like-bar {
  height: 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: var(--text-color);
}
.user-main .user-main-container .experience-modal .post-container .post .footer .content {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .content p {
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  white-space: pre-line;
  color: var(--text-color);
}
.user-main .user-main-container .experience-modal .post-container .post .footer .content span.user-id {
  font-weight: 600;
}
.user-main .user-main-container .experience-modal .post-container .post .footer .content a {
  text-decoration: none;
  color: var(--hashtag);
}
.user-main .user-main-container .experience-modal .post-container .post .footer .content .hashtag {
  color: var(--hashtag);
}
.user-main .user-main-container .experience-modal .post-container .post .footer .more-btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: var(--detial);
}
.user-main .user-main-container .experience-modal .post-container .post .footer .date {
  font-size: 12px;
  color: var(--detial);
}
.user-main .user-main-container .projects-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  transform: scale(0, 0);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.user-main .user-main-container .projects-modal header {
  height: 60px;
}
.user-main .user-main-container .projects-modal header .back-icon svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
  pointer-events: none;
}
.user-main .user-main-container .projects-modal .post-container {
  max-height: calc(100vh - 108px);
  background-color: var(--bg-color);
  overflow-y: scroll;
  scroll-snap-align: start;
}
.user-main .user-main-container .projects-modal .post-container::-webkit-scrollbar {
  display: none;
}
.user-main .user-main-container .projects-modal .post-container .post {
  width: inherit;
}
.user-main .user-main-container .projects-modal .post-container .post .title {
  height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid var(--hr-color);
  display: flex;
  align-items: center;
}
.user-main .user-main-container .projects-modal .post-container .post .title .user-img {
  width: 42px;
  height: 42px;
  margin-right: 4px;
}
.user-main .user-main-container .projects-modal .post-container .post .title .user-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.user-main .user-main-container .projects-modal .post-container .post .title .describe {
  flex: 1;
}
.user-main .user-main-container .projects-modal .post-container .post .title .describe .user-name {
  font-weight: 600;
  color: var(--text-color);
}
.user-main .user-main-container .projects-modal .post-container .post .title .icon {
  width: 42px;
  height: 42px;
}
.user-main .user-main-container .projects-modal .post-container .post .title .icon svg {
  margin-left: 8px;
  fill: var(--text-color);
}
.user-main .user-main-container .projects-modal .post-container .post .content-image {
  position: relative;
}
.user-main .user-main-container .projects-modal .post-container .post .content-image .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.user-main .user-main-container .projects-modal .post-container .post .content-image .dots .dot {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 50%;
  margin: 0 2px;
}
.user-main .user-main-container .projects-modal .post-container .post .content-image .dots .dot.active {
  background-color: #007bff;
}
.user-main .user-main-container .projects-modal .post-container .post .content-image .post-images {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.user-main .user-main-container .projects-modal .post-container .post .content-image .post-images::-webkit-scrollbar {
  display: none;
}
.user-main .user-main-container .projects-modal .post-container .post .content-image .post-images img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  scroll-snap-align: start;
}
.user-main .user-main-container .projects-modal .post-container .post .footer {
  padding: 0 16px;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .tools {
  position: relative;
  justify-content: space-between;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .tools .tool * {
  width: 40px;
  height: 40px;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .tools .tool * svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
  fill: var(--text-color);
  pointer-events: none;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .tools .tool .love svg:nth-child(2) {
  display: none;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .tools .tool .love.active svg:first-child {
  display: none;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .tools .tool .love.active svg:last-child {
  display: block;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .tools .save {
  width: 40px;
  height: 40px;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .tools .save svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
}
.user-main .user-main-container .projects-modal .post-container .post .footer .like-bar {
  height: 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: var(--text-color);
}
.user-main .user-main-container .projects-modal .post-container .post .footer .content {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .content p {
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  white-space: pre-line;
  color: var(--text-color);
}
.user-main .user-main-container .projects-modal .post-container .post .footer .content span.user-id {
  font-weight: 600;
}
.user-main .user-main-container .projects-modal .post-container .post .footer .content a {
  text-decoration: none;
  color: var(--hashtag);
}
.user-main .user-main-container .projects-modal .post-container .post .footer .content .hashtag {
  color: var(--hashtag);
}
.user-main .user-main-container .projects-modal .post-container .post .footer .more-btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: var(--detial);
}
.user-main .user-main-container .projects-modal .post-container .post .footer .date {
  font-size: 12px;
  color: var(--detial);
}

@media screen and (min-width: 470px) {
  .user-main .user-main-container .user-main-title img {
    width: 110px;
    height: 110px;
    margin-left: 12px;
    margin-right: 28px;
  }
  .user-main .user-main-container .intro .intro-wrapper .name {
    font-size: 1.15rem;
    margin-bottom: 4px;
  }
  .user-main .user-main-container .intro .intro-wrapper .education {
    font-size: 15px;
  }
  .user-main .user-main-container .intro .intro-wrapper .work-experience {
    font-size: 15px;
  }
  .user-main .user-main-container .intro .intro-wrapper .describe {
    font-size: 15px;
  }
}
@media screen and (min-width: 500px) {
  .user-main .user-main-container header,
  .user-main .user-main-container .user-main-title,
  .user-main .user-main-container .intro, .user-main .user-main-container .skills,
  .user-main .user-main-container .menu-bar,
  .user-main .user-main-container .post-banner {
    max-width: 500px;
    margin: 0 auto;
  }
  .user-main .user-main-container .post-banner .post-box {
    width: 500px;
  }
  .user-main .user-main-container .post-banner .post-box .grid-post .post {
    width: 165.6666666667px;
    height: 165.6666666667px;
  }
  .user-main .user-main-container .experience-modal .post-container {
    max-width: 500px;
    margin: 0 auto;
  }
  .user-main .user-main-container .experience-modal .post-container .post .content-image .post-images {
    max-width: 500px;
  }
  .user-main .user-main-container .experience-modal .post-container .post .content-image .post-images img {
    max-width: 500px;
  }
  .user-main .user-main-container .projects-modal .post-container {
    max-width: 500px;
    margin: 0 auto;
  }
  .user-main .user-main-container .projects-modal .post-container .post .content-image .post-images {
    max-width: 500px;
  }
  .user-main .user-main-container .projects-modal .post-container .post .content-image .post-images img {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .user-main .user-main-container header .header-wrapper .user-id {
    margin: 0 auto;
    font-size: 1.4rem;
  }
  .user-main .user-main-container header .header-wrapper .toggle-icon {
    display: none;
  }
}
.search-main {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  transform: scale(0, 1);
}
.search-main header {
  width: 100%;
}
.search-main header .search-bar {
  width: 100%;
  padding: 0 16px;
}
.search-main header .search-bar .search-bar-box .search-icon {
  width: 36px;
  height: 40px;
  border-radius: 16px 0 0 16px;
  border: none;
  background-color: var(--search-color);
}
.search-main header .search-bar .search-bar-box input {
  flex: 1;
  height: 40px;
  border: none;
  border-radius: 0 16px 16px 0;
  background-color: var(--search-color);
  font-size: 18px;
  color: var(--text-color);
}
.search-main header .search-bar .search-bar-box input:focus {
  outline: none;
}
.search-main .search-result-wrapper {
  position: relative;
  height: calc(100vh - 108px);
}
.search-main .search-result-wrapper .search-result {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
}
.search-main .search-result-wrapper .search-result::-webkit-scrollbar {
  display: none;
}
.search-main .search-result-wrapper .search-result .result-image {
  width: 33.3333333333vw;
  height: 33.3333333333vw;
}
.search-main .search-result-wrapper .search-result .result-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search-main .search-result-wrapper .loading-modal {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--bg-color);
  display: none;
}
.search-main .search-result-wrapper .loading-modal .squares {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-main .search-result-wrapper .loading-modal .squares .square {
  width: 8px;
  height: 8px;
  margin: 5vh 4px 0;
}
.search-main .search-result-wrapper .loading-modal .squares .square:nth-child(1) {
  background-color: #feda77;
}
.search-main .search-result-wrapper .loading-modal .squares .square:nth-child(2) {
  background-color: #f58529;
}
.search-main .search-result-wrapper .loading-modal .squares .square:nth-child(3) {
  background-color: #dd2a7b;
}
.search-main .search-result-wrapper .loading-modal .squares .square:nth-child(4) {
  background-color: #8134af;
}
.search-main .search-result-wrapper .loading-modal .squares .square:nth-child(5) {
  background-color: #515bd4;
}

@media screen and (min-width: 480px) {
  .search-main .search-result-wrapper {
    max-width: 480px;
    margin: 0 auto;
  }
  .search-main .search-result-wrapper .search-result .result-image {
    width: 160px;
    height: 160px;
  }
  .search-main .search-result-wrapper .loading-modal {
    max-width: 488px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 488px) {
  .search-main .search-result-wrapper {
    max-width: 488px;
  }
  .search-main .search-result-wrapper .search-result {
    grid-gap: 4px;
  }
}
@media screen and (min-width: 630px) {
  .search-main header {
    max-width: 630px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .search-main .search-result-wrapper {
    height: calc(100vh - 60px);
  }
  .search-main .search-result-wrapper .search-result {
    height: calc(100vh - 60px);
  }
  .search-main .search-result-wrapper .search-result .result-image {
    width: 160px;
    height: 160px;
  }
}
@media screen and (min-width: 900px) {
  .search-main .search-result-wrapper {
    max-width: 504px;
  }
  .search-main .search-result-wrapper .search-result {
    grid-gap: 12px;
  }
  .search-main .search-result-wrapper .loading-modal {
    max-width: inherit;
  }
}
@media screen and (min-width: 1000px) {
  .search-main .search-result-wrapper {
    max-width: 654px;
  }
  .search-main .search-result-wrapper .search-result .result-image {
    width: 210px;
    height: 210px;
  }
  .search-main .search-result-wrapper .loading-modal {
    max-width: inherit;
  }
}
@media screen and (min-width: 1160px) {
  .search-main {
    overflow: hidden;
  }
  .search-main header {
    max-width: 700px;
    height: 80px;
  }
  .search-main header .search-bar {
    height: 50px;
  }
  .search-main header .search-bar .search-bar-box .search-icon {
    width: 50px;
    height: 50px;
  }
  .search-main header .search-bar .search-bar-box .search-icon svg {
    width: 24px;
    height: 24px;
  }
  .search-main header .search-bar .search-bar-box .search-input {
    height: 50px;
    font-size: 1.2rem;
  }
  .search-main .search-result-wrapper {
    max-width: 876px;
  }
  .search-main .search-result-wrapper .search-result {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .search-main .search-result-wrapper .loading-modal {
    max-width: inherit;
  }
}
@media screen and (min-width: 1600px) {
  .search-main .search-result-wrapper {
    max-width: 888px;
  }
  .search-main .search-result-wrapper .search-result {
    grid-gap: 16px;
  }
  .search-main .search-result-wrapper .loading-modal {
    max-width: inherit;
  }
}
.message-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
}
.message-main::-webkit-scrollbar {
  display: none;
}
.message-main header .title {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
}
.message-main .message-content {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
  z-index: -1;
  color: var(--text-color);
}
.message-main .message-content .message-info {
  text-align: center;
}
.message-main .message-content .message-info .info-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 12px;
}
.message-main .message-content .message-info .phone {
  margin-bottom: 4px;
}
.message-main .message-content .message-info .phone svg {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}
.message-main .message-content .message-info .email svg {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.message-main .message-content .message-info .email svg path {
  stroke: var(--text-color);
}
.message-main .message-content .message-info .email svg rect {
  stroke: var(--text-color);
}
.message-main .message-content .message-info .media {
  margin-top: 16px;
}
.message-main .message-content .message-info .media .github svg, .message-main .message-content .message-info .media .instagram svg, .message-main .message-content .message-info .media .facebook svg {
  width: 28px;
  height: 28px;
  margin: 0 6px;
}
.message-main .message-content .message-info .media .github svg path, .message-main .message-content .message-info .media .instagram svg path, .message-main .message-content .message-info .media .facebook svg path {
  fill: var(--text-color);
}
.message-main .message-content .or-hr {
  position: relative;
  padding: 12px 0;
}
.message-main .message-content .or-hr .or-hr-text {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 0 auto;
  padding: 0 8px;
  font-size: 1.6rem;
  color: var(--detial);
  background-color: var(--bg-color);
  position: relative;
  z-index: 2;
}
.message-main .message-content .or-hr .or-hr-box {
  width: 60%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: var(--detial);
  border-radius: 50%;
}
.message-main .message-content .message-content-title {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0 0 16px 0;
  color: var(--text-color);
}
.message-main .message-content form {
  display: grid;
  row-gap: 1.15rem;
  margin-bottom: 24px;
}
.message-main .message-content form .input-box {
  position: relative;
  width: 100%;
}
.message-main .message-content form input {
  width: 100%;
  height: 52px;
  padding: 0 16px;
  background-color: transparent;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 2px solid #919191;
  color: var(--text-color);
  transition: border 0.4s background-color 0.4s;
}
.message-main .message-content form input::-moz-placeholder {
  color: #919191;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.message-main .message-content form input::placeholder {
  color: #919191;
  transition: opacity 0.3s;
}
.message-main .message-content form input:focus {
  border: 3px solid var(--input-foucs);
}
.message-main .message-content form input:focus::-moz-placeholder {
  opacity: 0;
}
.message-main .message-content form input:focus::placeholder {
  opacity: 0;
}
.message-main .message-content form input:-webkit-autofill {
  -webkit-transition: background-color 6000s, color 6000s;
  transition: background-color 6000s, color 6000s;
}
.message-main .message-content form label {
  position: absolute;
  top: 8px;
  left: 12px;
  color: #919191;
  font-size: 16px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  padding: 2px 6px;
  pointer-events: none;
  transition: top 0.5s, opacity 0.2s, background-color 0.4s;
  opacity: 0;
}
.message-main .message-content form input:not(:-moz-placeholder-shown) + label {
  opacity: 1;
  top: -16px;
}
.message-main .message-content form input:focus + label,
.message-main .message-content form input:not(:placeholder-shown) + label {
  opacity: 1;
  top: -16px;
}
.message-main .message-content form .message-area {
  position: relative;
}
.message-main .message-content form .message-area textarea {
  width: 100%;
  height: 20vh;
  padding: 0 16px;
  background-color: transparent;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #919191;
  outline: none;
  resize: none;
  padding-top: 1rem;
}
.message-main .message-content form .message-area textarea::-moz-placeholder {
  color: #919191;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.message-main .message-content form .message-area textarea::placeholder {
  color: #919191;
  transition: opacity 0.2s;
}
.message-main .message-content form .message-area textarea:focus {
  border: 3px solid var(--input-foucs);
}
.message-main .message-content form .message-area textarea:focus::-moz-placeholder {
  opacity: 0;
}
.message-main .message-content form .message-area textarea:focus::placeholder {
  opacity: 0;
}
.message-main .message-content form .message-area textarea:not(:-moz-placeholder-shown) + label {
  opacity: 1;
  top: -16px;
}
.message-main .message-content form .message-area textarea:focus + label,
.message-main .message-content form .message-area textarea:not(:placeholder-shown) + label {
  opacity: 1;
  top: -16px;
}
.message-main .message-content form .form-btn {
  width: 60%;
  height: 56px;
  margin: 0 auto;
  font-size: 1.15rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: #B58658;
  color: var(--bg-color);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-main .message-content form .form-btn svg {
  width: 28px;
  height: 28px;
  margin-left: 4px;
}
.message-main .message-content form .form-btn svg path {
  stroke: var(--bg-color);
}
.message-main .envelope-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  pointer-events: none;
}
.message-main .envelope-wrapper .envelope {
  width: 300px;
  height: 200px;
  background-color: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0 0 16px 16px;
  cursor: pointer;
}
.message-main .envelope-wrapper .envelope:hover .top {
  transform: rotateX(180deg);
}
.message-main .envelope-wrapper .envelope img {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.message-main .envelope-wrapper .envelope .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  border-top: 130px solid #222;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  pointer-events: none;
  transform-origin: top;
}
.message-main .envelope-wrapper .envelope .top::after {
  content: "";
  position: absolute;
  top: -130px;
  left: -140px;
  z-index: 5;
  border-top: 120px solid #B58658;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
}
.message-main .envelope-wrapper .envelope .top::before {
  content: "";
  position: absolute;
  top: -130px;
  left: -130px;
  z-index: 6;
  border-top: 110px solid #222;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
}
.message-main .envelope-wrapper .envelope .left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid #333;
  border-radius: 16px;
  pointer-events: none;
}
.message-main .envelope-wrapper .envelope .right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 150px solid #333;
  border-radius: 16px;
  pointer-events: none;
}
.message-main .envelope-wrapper .envelope .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  border-bottom: 100px solid #333;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-radius: 16px;
  pointer-events: none;
}
.message-main .envelope-wrapper .envelope .paper {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.message-main .envelope-wrapper .envelope .paper .paper-content {
  width: 100%;
  height: 180px;
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 1.25rem;
  font-family: 500;
  font-family: "Pacifico", sans-serif;
  padding-top: 1rem;
}
.message-main .error-modal {
  width: 80%;
  height: 40%;
  position: absolute;
  background-color: #fdfdfd;
  box-shadow: 0 0 10px 5px #e0e0e0, inset 0 0 10px 5px #fbfbfb;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 36px;
  display: none;
  pointer-events: none;
  text-align: center;
}
.message-main .error-modal .emoji {
  margin-top: 36px;
  font-size: 5rem;
}
.message-main .error-modal .error-text {
  font-family: "Poppins", sans-serif;
}
.message-main .error-modal .error-text h1 {
  margin-top: 16px;
  font-size: 2rem;
}
.message-main .error-modal .error-text h2 {
  margin-top: 16px;
  font-size: 1.25rem;
  font-weight: normal;
}

@media screen and (min-width: 470px) {
  .message-main .message-content {
    max-width: 470px;
  }
  .message-main .message-content form {
    grid-gap: 1.65rem;
  }
  .message-main .message-content form .input-box {
    max-width: 390px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 560px) {
  .message-main header {
    max-width: 560px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .message-main header .header-wrapper {
    padding: 12px 0;
    border-bottom: 1px solid var(--hr-color);
  }
  .message-main header .header-wrapper .title {
    margin: 0 auto;
    font-size: 1.5rem;
  }
  .message-main header .header-wrapper .toggle-icon {
    display: none;
  }
  .message-main .message-info {
    margin-top: 16px;
  }
}/*# sourceMappingURL=style.css.map */