* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light-mode {
  --text-color: rgba(0, 0, 0);
  --bg-color: #fff;
  --hr-color: #dbdbdb;
}

body.dark-mode {
  --text-color: rgba(245, 245, 245);
  --bg-color: rgba(0, 0, 0);
  --hr-color: rgb(54, 54, 54);
  --detial: #a8a8a8;
  --hashtag: #e0f1ff;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--bg-color);
  --detial: #737373;
  --hashtag: #00376B;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf");
}
header {
  width: 100vw;
  height: 60px;
  background-color: var(--bg-color);
  font-family: "Segoe UI";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper {
  width: 100vw;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .logo {
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: "Pacifico", serif;
}
header .header-wrapper .toggle-icon * {
  pointer-events: none;
}
header .header-wrapper .toggle-icon .sun-icon {
  display: none;
}

nav {
  width: 100vw;
  height: 48px;
  position: absolute;
  bottom: 0;
  left: 0;
}
nav ul {
  width: inherit;
  height: inherit;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li svg {
  color: var(--text-color);
  fill: var(--text-color);
}

.home-main .main-container {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.home-main .main-container .limit-news-container {
  height: 100px;
  overflow-x: scroll;
  border-bottom: 1px solid var(--hr-color);
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}
.home-main .main-container .limit-news-container::-webkit-scrollbar {
  display: none;
}
.home-main .main-container .limit-news-container .limit-item {
  width: 66px;
  height: 85px;
  flex-direction: column;
}
.home-main .main-container .limit-news-container .limit-item .user-image {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: linear-gradient(45deg, #fcd983, #d820cc);
  position: relative;
}
.home-main .main-container .limit-news-container .limit-item .user-image::after {
  content: "";
  width: 60px;
  height: 60px;
  background: var(--bg-color);
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.home-main .main-container .limit-news-container .limit-item .user-image a {
  width: 60px;
  height: 60px;
}
.home-main .main-container .limit-news-container .limit-item .user-image a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--bg-color);
  pointer-events: none;
}
.home-main .main-container .limit-news-container .limit-item .user-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--bg-color);
}
.home-main .main-container .limit-news-container .limit-item h1 {
  max-width: 70px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--text-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-main .main-container .post-container {
  max-height: calc(100vh - 208px);
  background-color: var(--bg-color);
  overflow-y: scroll;
}
.home-main .main-container .post-container::-webkit-scrollbar {
  display: none;
}
.home-main .main-container .post-container .post {
  width: 100vw;
}
.home-main .main-container .post-container .post .title {
  height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid var(--hr-color);
  display: flex;
  align-items: center;
}
.home-main .main-container .post-container .post .title .user-img {
  width: 42px;
  height: 42px;
  margin-right: 4px;
}
.home-main .main-container .post-container .post .title .user-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.home-main .main-container .post-container .post .title .describe {
  flex: 1;
}
.home-main .main-container .post-container .post .title .describe .user-name {
  font-weight: 600;
  color: var(--text-color);
}
.home-main .main-container .post-container .post .title .icon {
  width: 42px;
  height: 42px;
}
.home-main .main-container .post-container .post .title .icon svg {
  margin-left: 8px;
  fill: var(--text-color);
}
.home-main .main-container .post-container .post .content-image {
  position: relative;
}
.home-main .main-container .post-container .post .content-image .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.home-main .main-container .post-container .post .content-image .dots .dot {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 50%;
  margin: 0 2px;
}
.home-main .main-container .post-container .post .content-image .dots .dot.active {
  background-color: #007bff;
}
.home-main .main-container .post-container .post .content-image .images {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  pointer-events: none;
}
.home-main .main-container .post-container .post .content-image .images::-webkit-scrollbar {
  display: none;
}
.home-main .main-container .post-container .post .content-image .images img {
  width: 100vw;
  pointer-events: none;
  scroll-snap-align: start;
}
.home-main .main-container .post-container .post .footer {
  padding: 0 16px;
}
.home-main .main-container .post-container .post .footer .tools {
  position: relative;
  justify-content: space-between;
}
.home-main .main-container .post-container .post .footer .tools .tool * {
  width: 40px;
  height: 40px;
}
.home-main .main-container .post-container .post .footer .tools .tool * svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
  fill: var(--text-color);
  pointer-events: none;
}
.home-main .main-container .post-container .post .footer .tools .tool .love svg:nth-child(2) {
  display: none;
}
.home-main .main-container .post-container .post .footer .tools .tool .love.active svg:first-child {
  display: none;
}
.home-main .main-container .post-container .post .footer .tools .tool .love.active svg:last-child {
  display: block;
}
.home-main .main-container .post-container .post .footer .tools .save {
  width: 40px;
  height: 40px;
}
.home-main .main-container .post-container .post .footer .tools .save svg {
  width: 24px;
  height: 24px;
  color: var(--text-color);
}
.home-main .main-container .post-container .post .footer .like-bar {
  height: 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: var(--text-color);
}
.home-main .main-container .post-container .post .footer .content {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.home-main .main-container .post-container .post .footer .content p {
  font-size: 15px;
  line-height: 18px;
  white-space: pre-line;
  color: var(--text-color);
}
.home-main .main-container .post-container .post .footer .content span.user-id {
  font-weight: 600;
}
.home-main .main-container .post-container .post .footer .content a {
  text-decoration: none;
  color: var(--hashtag);
}
.home-main .main-container .post-container .post .footer .content .hashtag {
  color: var(--hashtag);
}
.home-main .main-container .post-container .post .footer .date {
  font-size: 12px;
  color: var(--detial);
}/*# sourceMappingURL=style.css.map */