* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light-mode {
  --text-color: rgba(0, 0, 0);
  --bg-color: #fff;
  --hr-color: #dbdbdb;
  --detial: #737373;
  --hashtag: #00376B;
}

body.dark-mode {
  --text-color: rgba(245, 245, 245);
  --bg-color: rgba(0, 0, 0);
  --hr-color: rgb(54, 54, 54);
  --detial: #a8a8a8;
  --hashtag: #e0f1ff;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--bg-color);
}

.loading {
  width: 100vw;
  height: 100vh;
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 3px;
  background-color: #fff;
  position: relative;
  z-index: 10000;

  display: flex;
  flex-direction: column;
  align-items: center;
  .loading-text {
    color: #00000099;
    margin-top: 10vh;
  }
  .loading-icon {
    .squares {
      width: 100%;
      .square {
        width: 8px;
        height: 8px;
        margin: 5vh 4px 0;
        &:nth-child(1) {
          background-color: #feda77;
        }
        &:nth-child(2) {
          background-color: #f58529;
        }
        &:nth-child(3) {
          background-color: #dd2a7b;
        }
        &:nth-child(4) {
          background-color: #8134af;
        }
        &:nth-child(5) {
          background-color: #515bd4;
        }
      }
    }
  }
  .instagram-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 80px;
      height: 80px;
    }
  }
  .loading-footer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: absolute;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
    h3 {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      color: #888;
    }
    div {
      img {
        width: 24px;
        margin-right: 4px;
      }
      h1 {
        font-size: 1rem;
        line-height: 18px;
        letter-spacing: .5px;
        background: linear-gradient(to right, #fd1d1d 0%,#e1306c 60%,#c13584 90%,#833ab4 95%,#5851d8 97%,#405de6 100%,);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  background: center/cover url('../images/coding.jfif');
  position: fixed;
  z-index: 999;
  transform: scale(0, 0);
  opacity: 0;
  transition: all .5s ease-in-out;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #33333380;
    backdrop-filter: blur(4px);
    pointer-events: none;
  }
  div {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    color: #ccc;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
  }
}

#all-main {
  height: calc(100dvh - 48px);
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 768px) {
  // header 欄切換去左邊
}

@media screen and (min-width: 1160px) {
  // 電腦版多了右邊欄
}

@media screen and (min-width: 1264px) {
  // 左邊header欄打開
}

@import './header';
@import './nav';
@import './home-main';
@import './user-main';